* { 
box-sizing: border-box
} 

img {
 max-width: 100%;
 display: block;
 height: auto;
}


:root {
    --blue: #0066FF;
    --black: #000000;
    --white: #FFFFFF;
    --greyMedium: #ECECEC;
    --greyBack: #F7F7F7;
    --greyDark: #A8A8A8;
    --dayBackground: linear-gradient(180deg, #2E81FE 0%, #9EC5FF 100%);
    --nightBackground: linear-gradient(180deg, #000000 0%, #270157 100%);
    --cards-border-radius: 8px;
}

body {
font-size: 100%;
font-family: 'Inter', sans-serif;
margin: 0;

}

h1 {
    font-size: 40px;
    text-align: center;
    color: var(--white);
    margin-top: 28px !important;
}

header {
    background: var(--nightBackground);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 104px;
}

.search-box {
    margin-top: 104px;
}

.weather-search {
    /* width: 280px; */
    border-radius: 4px;
    /* height: 40px; */
}

.btn {
   /*  width: 280px; */
}

.weather-search::placeholder {
    margin-left: 10px; /* adjust this value to set the margin size */
  }




